.team-section {
  padding: 40px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #F7F9FC;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #222D39;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
}

.team-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-name {
  font-size: 1.2rem;
  color: #222D39;
}

.team-title {
  font-size: 1rem;
  color: var(--other-color);
}

.linkedin-icon {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #0a66c2;
  transition: color 0.3s ease;
}

.linkedin-icon:hover {
  color: #004182;
}


@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
  .team-name {
    font-size: 1.25rem;
  }
  .team-title {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 1.8rem;
  }
  .team-name {
    font-size: 1rem;
  }
  .team-title {
    font-size: 0.8rem;
  }
}
